.default {
    font-family: Inter Tight, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 400;
    margin: 0;
}

.card {
    font-family: Inter Tight, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    margin: 0;
}