/* styles/colors.css */
:root {
    /* Базовые цвета */
    --color-white-maxioma: #FFFFFF;
    --color-black-maxioma: #000000;
    --color-grey-maxioma: #767B85;
    --color-blue-maxioma: #0D58FF;
    --color-orange-maxioma: #ED6C0E;
    --color-green-maxioma: #9ED413;
    --color-podelu: #A2261A;

    /* Градиенты */
    --gradient-green: linear-gradient(#BFFF75 0%, #9ED413 100%);
    /*--gradient-green-2: linear-gradient(135deg, #??????, #??????);*/
    /*--gradient-orange: linear-gradient(135deg, #??????, #??????);*/
    --gradient-blue: linear-gradient(#04DBFE 0%, #0D58FF 100%);
    /*--gradient-dark-blue: linear-gradient(135deg, #??????, #??????);*/
    /*--gradient-black-dark-blue: linear-gradient(135deg, #??????, #??????);*/

    /*!* Остальные *!*/
    /*--color-dark-blue: #??????;*/
    /*--rainbow-soft: linear-gradient(135deg, #??????, #??????, #??????, #??????, #??????, #??????);*/
    /*--rainbow-hard: linear-gradient(135deg, #??????, #??????, #??????, #??????, #??????, #??????);*/
    /*--gradient-green-maxioma-ot-zakazchika: linear-gradient(135deg, #??????, #??????);*/
}