/* Header */
.header {
    width: 100%;
    padding: 22px;
    position: sticky;
    top: 0;
    backdrop-filter: blur(60px);
}

/* Контейнер */
.container {
    max-width: 1296px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}