.green {
    background: var(--gradient-green);
}

.blue {
    background: var(--gradient-blue);
}

.text {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}